.eventDisplay {
  width: 100vw;
  height: calc(100vh - 300px);
  position: absolute;
  top: 150px;
}

.eventDisplay .wrapper{
  height: 100%;
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.event {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.event img {
  display: inline;
  width: 40vw;
  height: 40vw;
  margin: 10px auto;
}

.eventDescription {
  display: grid;
  grid-template-rows: 35px auto;
  overflow-y: scroll;
  z-index: 1;
}

.eventDescription h3 {
  text-align: center;
}

.eventDescription p {
  text-align: left;
  margin: 0 auto;
}