.eventDisplay {
  width: 100vw;
  position: absolute;
  top: 120px;
}

.eventDisplay .wrapper{
  height: calc(100vh - 250px);
  width: calc(100vw - 50px);
  margin: 0 auto;
}

.event {
  height: 100%;
  display: grid;
  grid-template-rows: calc(50vw + 10px) calc(100% - 50vw - 10px);
}

.event img {
  width: 50vw;
  height: 50vw;
  margin: 0 auto 10px;
}

.eventDescription {
  display: grid;
  grid-template-rows: 25px calc(100% - 50vw - 25px);
  overflow-y: scroll;
}

.eventDescription h3 {
  text-align: center;
}

.eventDescription p {
  text-align: left;
  margin: 0 auto;
}