@media (max-height: 500px) {
  header h3 {
    z-index: 50;
  }
  header img.firstPiece,
  header img.secondPiece {
    z-index: 0;
  }
  .event img, 
  .calendarDisplay,
  .calendarNav h3,
  input#calendar,
  .icons {
    display: none;
  }
  .calendarIcon .icon {
    visibility: hidden;
  }
  .mainDisplay {
    background: none;
  }
  .calendarNav {
    position: absolute;
    top: -95px;
    left: calc(50% - 90px);
    justify-content: center;
    width: 120px;
    justify-content: space-between;
  }
  .event .eventDescription {
    z-index: 3;
    width: 45vw;
    height: 35vh;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
  }
  .hidden {
    z-index: 1;
  }
}


@media (min-height: 653px) {
  .about {
    padding-bottom: 35px;
  }
  .calendarNav {
    margin-top: 20px;
  }
  .calendarDisplay li {
    margin: 30px 0 10px;
  }
}

@media (min-height: 720px) {
  .event {
    grid-template-rows: calc(40vw) calc(100% - 40vw); 
  }
  .event img {
    margin: 25px auto;
  }
  .navigation {
    grid-template-rows: auto 1fr;
    height: 35vh;
  }
  .navigation p:not(.likeButtonDescription) {
    font-size: 2.2rem;
    background: linear-gradient(gold, wheat);
  }
  button.submitButton {
    bottom: 150px;
  }
  .infoImageContainer {
    display: flex;
    width: 15vh;
    height: 30vh;
  }
}

@media (min-height: 950px) {
  .navigation {
    height: 28vh;
  }
  .information {
    bottom: 130px;
    height: calc(100vh - 280px);
  }
  .calendar {
    height: calc(100vh - 230px);
  }
  .calendarIcon,
  input#calendar {
    bottom: 0px;
  }
  input#calendar:checked {
    height: 210px;
    bottom: -130px;
  }
  .calendarNav h3 {
      flex-basis: 150px;
      font-size: 2.5rem;
  }
  .calendarDisplay {
    top: 15%;
  }
  footer .image {
      position: absolute;
      bottom: 50px;
      width: 100vw;
      height: 80px;
      background-image: url(../assets/hieroglyphs.jpg);
      background-size: contain;
  }
}