.information {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 50px;
  width: 100vw;
  height: calc(100vh - 200px);
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: wheat;
}

.infoImageContainer {
  display: none;
  width: 100px;
  height: 140px;
  background-image: url(../assets/pharaoh.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 1;
}

header .information h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 5px solid whitesmoke;
  padding-bottom: 20px;
  padding: 0 25px;
}

.navigation {
  width: calc(100vw - 50px);
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  padding-top: 20px;
}

.navigation h3 {
  grid-column: 1/ span 3;
}

.navigation p:not(.likeButtonDescription) {
  display: grid;
  grid-template-rows: 1fr 10fr;
  border-top: 2px solid goldenrod;
  background: linear-gradient(gold, wheat);
}
